{% extends "@Blog/layout.html.twig" %}
{% block section %}
	{% for message in app.session.flashbag().get("status") %}
		<div class="alert alert-success">{{ message }}</div>
	{% endfor %}
{% endblock %}