{% extends "@Blog/layout.html.twig" %}

{% block section %}
	<h2>A&ntilde;dir Categorias</h2>
	<div class="col-lg-6">
		{{form_start(form)}}
		{{form_end(form)}}
	</div>
	<div class="clearfix"></div>
{% endblock %}